<% if @session.errors.any? %>

  <div class="has-error">
    <%= pluralize(@session.errors.count, "error") %>:
    <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
