<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <link rel="stylesheet" media="all" href="/assets/application.self-130a4d46c1175fc2be9fe5910d34eaaf93e834a4ad51c60ac5c653b1a0b4ffe6.css?body=1" data-turbolinks-track="true" />
  <script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/jquery_ujs.self-784a997f6726036b1993eb2217c9cb558e1cbb801c6da88105588c56f13b466a.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572a485f64c82ddc8f989e.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/transition.self-6ad2488465135ab731a045a8ebbe3ea2fc501aed286042496eda1664fdd07ba9.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/alert.self-742145c5bb847aafdadc6e339be795628f8bc25f177e851f03a8c42278eb0312.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/button.self-126ac9bf0e7f2d8568f8da3a00fd5f0fac6eae0946331003370161fbf8d7975e.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/carousel.self-e47323f363ceb3dc0bdbce05e36e709ed428e339833a41140a85cb0af24b8127.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/collapse.self-2eb697f62b587bb786ff940d82dd4be88cdeeaf13ca128e3da3850c5fcaec301.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/dropdown.self-561cca1cbaf67474e01e9536f106bad541594860a6df997004591c1c1957a147.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/modal.self-3e78617ade5663314b7ee0ea10375a5b34d59ffbade44939e3f2a4e4ef2019b3.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/tab.self-5bf7078b682f8b131332eefa46b45fa5eff2eca745fc0d03e2991450888f7c28.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/affix.self-6d6f1a7fc5c8aabf3547fa1b794fab6268f54bc55ad815e55873c71f52513517.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/scrollspy.self-969f3c5f48cdf1e439c7fa1154c13b948715f5c689f87837c0b64521d3b46ef6.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/tooltip.self-05afb177e08f98997ccfc84fa08a215e4b27d48d5fe4d049080675e9dffd8199.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap/popover.self-0aa93860b59fe7393f1dd490f54b3cb994f9d6155adffce034d4e14ae361b041.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/bootstrap-sprockets.self-fbfa5ad7d9aa0afe439ec4ff3883acc4cb92b62cb67c40d674320c9aa1d4642d.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/admin.self-7c370d9536d7d0d6a0f7cd7f9826692acd93e4fb05ba46f7b630b879740343d3.js?body=1" data-turbolinks-track="true"></script>
<script src="/assets/application.self-f8806224e027f3e3f0138ea9ce99319e298dfdb323304d1f1be6eae8e8c74724.js?body=1" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="ayG5wgdAQOeh3bIzaLVTsaDKl8DLLLvhw3FCY42HdJqnBxl0h23VP6AqrUAh/8F7Xu1KSvDYNC6tmN2rOKlE0g==" />
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Jungle</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Categories
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
              <li><a href="/categories/1">Apparel</a></li>
              <li><a href="/categories/2">Electronics</a></li>
              <li><a href="/categories/3">Furniture</a></li>
              <li><a href="/categories/4">Fruit</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">


          <li>
            <a href="#">Welcome, Bob</a>
          </li>
          <li>
            <a rel="nofollow" data-method="delete" href="/logout">Log Out</a>
          </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

            <span class="text-danger"><i class="fa fa-lock"></i> Admin</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/categories">Categories</a></li>
          </ul>
        </li>
        <li>
          <a href="/cart">
            <i class="fa fa-shopping-cart"></i> My Cart (0)
</a>        </li>
      </ul>
    </div>
  </div>
</nav>


  <main class="container">
    <section class="orders-show">

  <header class="page-header">
    <h1>Thank you!</h1>
    A receipt for your purchase will be sent to <span>loblaw@law.blog</span>.
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
          <tr>
  <td>
    <img src="/uploads/product/image/6/tiny_apparel6.jpg" alt="Tiny apparel6" />
  </td>
  <td>
    <h4>Human Feet Shoes</h4>
    <br>
    <p>Blue bottle cold-pressed hashtag distillery fixie butcher park. Selvage normcore actually. Authentic raw denim craft beer vinegar. Austin pop-up fixie etsy ramps.</p>
  </td>
  <td>
    224.50
  </td>
  <td>
    4
  </td>
  <td>
    898.00
  </td>
</tr>

          <tr>
  <td>
    <img src="/uploads/product/image/9/tiny_electronics3.jpg" alt="Tiny electronics3" />
  </td>
  <td>
    <h4>World&#39;s Largest Smartwatch</h4>
    <br>
    <p>Tattooed blog ramps drinking fanny pack vegan taxidermy. Health kale chips pabst small batch yr. Asymmetrical craft beer pug 90&#39;s +1 kickstarter tilde portland. Neutra kogi butcher. Mumblecore kogi tattooed franzen etsy.</p>
  </td>
  <td>
    2026.29
  </td>
  <td>
    1
  </td>
  <td>
    2026.29
  </td>
</tr>

          <tr>
  <td>
    <img src="/uploads/product/image/10/tiny_furniture1.jpg" alt="Tiny furniture1" />
  </td>
  <td>
    <h4>Optimal Sleeping Bed</h4>
    <br>
    <p>Shabby chic keytar marfa kinfolk pitchfork. Chillwave vhs bushwick crucifix messenger bag tacos. You probably haven&#39;t heard of them mumblecore aesthetic portland truffaut helvetica asymmetrical. Cleanse +1 paleo. Distillery meditation keytar cronut.</p>
  </td>
  <td>
    3052.00
  </td>
  <td>
    2
  </td>
  <td>
    6104.00
  </td>
</tr>

          <tr>
  <td>
    <img src="/uploads/product/image/11/tiny_furniture2.jpg" alt="Tiny furniture2" />
  </td>
  <td>
    <h4>Electric Chair</h4>
    <br>
    <p>Umami health kinfolk franzen etsy. Ethical yuccie street shabby chic vice. Master tote bag fashion axe kogi. Before they sold out tilde disrupt meh wayfarers. Heirloom humblebrag sartorial. Next level before they sold out vinyl artisan quinoa chillwave.</p>
  </td>
  <td>
    987.65
  </td>
  <td>
    1
  </td>
  <td>
    987.65
  </td>
</tr>

      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            10015.94
          </th>
        </tr>
      </tfoot>
    </table>

  </div>
</section>

  </main>


</body>
</html>
